:root {
  --color: #434455;
  --color-white: #ffffff;
  --сolor-iris: #4d5ae5;
  --color-navy: #2e2f42;
  --color-hover: #404bbf;
  --color-section: #2e2f42;
  --color-svg: #f4f4fd;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--color-white);
  color: var(--color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.slider-title {
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
  color: var(--color-white);
  font-family: Roboto;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
}

img {
  display: block;
}

.menu-link:hover {
  color: var(--color-hover);
}

.menu-link:focus {
  color: var(--color-hover);
}

.menu-nav {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
}

.button-order {
  display: block;
  background-color: var(--сolor-iris);
  color: var(--color-white);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  min-width: 169px;
  height: 56px;
  margin: 0 auto;
  padding: 16px 32px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-order:hover,
.button-order:focus {
  background-color: #404bbf;
  cursor: pointer;
}

.main-slider {
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/mainslider.jpg);
  padding: 188px 0;
}

.logo-text-studio {
  color: var(--color-navy);
}

.logo-footer {
  color: #f4f4fd;
  display: inline-block;
  margin-bottom: 17.5px;
}

nav .list {
  list-style: none;
  justify-content: center;
}

.address-list {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-block;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color);
  padding: 24px 0;
}

a .list {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color);
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
  color: var(--color-navy);
}

.li-top-menu {
  color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  position: relative;
  color: #2e2f42;
}

.linkfirst::after {
  width: 100%;
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.linkfirst {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #404bbf;
}

.logo {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  color: var(--сolor-iris);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}

.info-mail-tell {
  font-style: normal;
  margin-left: auto;
}

.address-list:hover,
.address-list:focus {
  color: #404bbf;
}

.adress-link:first-child {
  color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

list:hover,
list:focus {
  color: #404bbf;
}

.header-Business-strategy {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  align-items: flex-start;
  gap: 8px;
}

.list-business-strategy {
  width: 264px;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
}

.key-features {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.paragraf-business-strategy {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  font-weight: 500;
}

.header-section-images {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-img-section {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}
.hamburger-open,
.menu-container {
  display: none;
}
.team-header {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-card-list {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  width: calc((100% - 72px) / 4);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-card-list-port {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  width: calc((100% - 48px) / 3);
}
.header-list-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-par {
  font-weight: 400;
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
}

.footer-par {
  width: 264px;
}

.footer-text-social {
  margin-bottom: 16px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: #ffffff;
}

.logo-footer {
  margin-bottom: 16px;
  display: inline-block;
  font-family: "Raleway", sans-serif;
  color: var(--сolor-iris);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-footer-span {
  color: #f4f4fd;
}

.menu-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background-color: #f4f4fd;
  cursor: pointer;
  padding: 12px 24px;
  border-radius: 4px;
  border: 1px solid var(--CORNFLOWER, #e7e9fc);
  background: var(--CLOUD, #f4f4fd);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-button:hover,
.menu-button:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.menu-button:hover,
.menu-button:focus {
  color: #ffffff;
  background-color: #404bbf;
  border: 1px solid transparent;
}

.web-cases {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.web-category {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}

/* ДЗ 3 */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header {
  display: flex;
  align-items: center;
}

.header-container {
  display: flex;
}

.menu-ul {
  gap: 40px;
  display: flex;
  align-items: center;
}

.adress-ul {
  gap: 40px;
  display: flex;
  align-items: center;
}

.nav {
  margin-left: auto;
}

.ul-two-section {
  display: flex;
  flex-wrap: nowrap;
  gap: 24px;
}

.section-business-strategy {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-tree-image {
  padding-top: 72px;
  padding-bottom: 120px;
}

.ul-tree-image {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.ul-person-img {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.work-cases,
.header-list-name {
  margin-bottom: 8px;
  text-align: center;
}

.position-name {
  padding-top: 32px;
  padding-bottom: 32px;
}

.port-menu {
  gap: 24px;
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
}

.port-section {
  padding-top: 96px;
  padding-bottom: 120px;
}

.menu-port-li {
  display: block;
}

.li-tree-section {
  width: calc((100% - 48px) / 3);
}

.cart-cases {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.positicases-div {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

/* ДЗ 4 */

.company-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.company-header {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.company-ul {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.company-pos-div {
  width: 168px;
}

.company-list {
  border-radius: 4px;
  width: calc((100% - 120px) / 6);
  height: 88px;
}

.icon-section-two {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background: var(--CLOUD, #f4f4fd);
  padding: 24px 100px;
  border-radius: 4px;
  margin-bottom: 8px;
}

.icon-section-four {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.list-four-section-icon {
  width: 40px;
  height: 40px;
}

.address-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.a-team-icon {
  cursor: pointer;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.a-team-icon:hover {
  background-color: #404bbf;
}
.a-team-icon:focus {
  background-color: #404bbf;
}

.a-company-link {
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8e8f99;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 100%;
}

.a-company-link:focus,
.a-company-link:hover {
  border-color: var(--color-hover);
  color: var(--color-hover);
}

.svg-team-icon {
  fill: #f4f4fd;
}

.svg-company {
  fill: currentColor;
}

/* ДЗ 4  FOOTER */

.footer-social-svg {
  display: flex;
  fill: #f4f4fd;
}

.footer-page {
  margin-right: 120px;
}

.div-two-section-footer {
  display: flex;
  align-items: baseline;
}

.ul-social {
  display: flex;
  gap: 16px;
}

.footer-social {
  margin-right: 80px;
}

.li-footer-social {
  width: 40px;
  height: 40px;
}

.a-footer-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.a-footer-link:hover,
.a-footer-link:focus {
  background-color: #31d0aa;
}

/* ДЗ 4  MODAL */

.backdrop-modal {
  position: absolute;
  width: 398px;
  min-height: 584px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 4px;
  background-color: #fcfcfc;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  display: flex;
  flex-direction: column;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

@media screen and (max-width: 427.98px) {
  .backdrop-modal {
    width: calc(100% - 20px);
  }

  .footer-social {
    margin-bottom: 72px;
  }
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop-button {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop-button-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop-button:hover .backdrop-button-icon,
.backdrop-button:focus .backdrop-button-icon {
  fill: #ffffff;
}

.backdrop-button:hover,
.backdrop-button:focus {
  border: none;
  background-color: #404bbf;
}

/* ДЗ 4  Портфоліо */

.card-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-link:hover,
.card-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transform: translateY(0%);
}

.div-img-card {
  position: relative;
  overflow: hidden;
}

.p-card-text-invis {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-link:hover .p-card-text-invis,
.card-link:focus .p-card-text-invis {
  transform: translateY(0%);
}

.sbv-icon-team {
  fill: var(--color-svg);
}

/* ДЗ 5  */
.p-social-and-search {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.form-social-and-search {
  display: flex;
  gap: 24px;
}

.input-sub-footer {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
}

.input-sub-footer::placeholder {
  color: #ffffff;
}

.btn-accent-footer {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  padding: 16px 32px 16px 32px;
  margin: 0 auto;
}

.btn-accent {
  min-width: 169px;
  height: 56px;
  display: block;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  padding: 16px 32px 16px 32px;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-send-svg {
  margin-left: 16px;
}

.div-modal-first-form {
  margin-bottom: 8px;
}
.modal-p {
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}
.modal-input {
  width: 360px;
  padding: 10px 38px 10px 38px;
}
.modal-field {
  position: relative;
  margin-bottom: 8px;
}

.modal-label {
  line-height: 1.17;
  display: block;
  margin-bottom: 4px;
  color: var(--LIGHT-SLATE, #8e8f99);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.48px;
}

.modal-coment-field {
  width: 360px;
  margin-bottom: 16px;
}

.modal-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);

  stroke: #404040;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-agreement,
::placeholder {
  color: var(--LIGHT-SLATE, #8e8f99);
  /* Small Text */

  font-size: 12px;
  font-weight: 400;
  line-height: 14px; /* 116.667% */
  letter-spacing: 0.48px;
}

.modal-input {
  height: 40px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: #4d5ae5;
}

.modal-input,
.modal-coment-field {
  border-radius: 4px;
  border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
}

.modal-coment {
  margin-bottom: 16px;
}

.modal-coment-field {
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid rgba(46, 47, 66, 0.4);
}
.modal-coment-field:focus {
  border-color: #4d5ae5;
}
.modal-checkbox-div {
  margin-bottom: 24px;
}

.modal-checkbox {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.modal-agreement {
  display: block;
  line-height: 1.17;
}

input:checked {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.modal-agreement-input:checked + .modal-agreement > .modal-checkbox {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.modal-agreement-link {
  color: #4d5ae5;
}

/* MOBILE ADAPTIVE MENU */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.team-img-section {
  background-color: #f4f4fd;
}
@media screen and (min-width: 320px) and (max-width: 767.95px) {
  body {
  }

  .list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .header {
    display: flex;
    align-items: center;
    padding: 24px 0 22px 0;
  }

  .container {
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
  }

  @media screen (min-width: 428px) {
    .container {
      width: 428px;
    }
  }

  .header-container {
    display: flex;
    align-items: center;
  }
  .main-slider {
    padding: 112px 0;
  }

  .hamburger-open {
    display: block;
  }
  .slider-title {
    font-size: 36px;
    line-height: 1.11em;
    max-width: 320px;
  }

  .button-order {
    background-color: var(--сolor-iris);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 16px 32px;
    display: block;
    min-width: 169px;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .menu-ul,
  .info-mail-tell {
    display: none;
  }

  .logo {
    display: inline-block;
    font-family: "Raleway", sans-serif;
    color: var(--сolor-iris);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
  }

  .logo-text-studio {
    color: var(--color-navy);
  }

  .menu-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    transform: translateX(100%);
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    padding: 80px 35px 40px 40px;
    background-color: #fff;
    transition: transform 250ms ease-in-out;
  }

  .menu-container.is-open {
    transform: translateX(0);
  }

  .menu-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin-left: auto;
  }

  .mobile-close {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;

    right: 24px;
    top: 24px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-svg {
    width: 8px;
    height: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .hamburger-open {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  @media only screen and not (hover: hover) {
    .menu-toggle:active {
      transform: translateX(8px) transformY(8px);
    }
  }

  .mobile-menu {
    display: flex;
    flex-direction: column;
    gap: 35px;
    margin-bottom: auto;
  }

  .link {
    text-decoration: none;
    color: var(--color-navy);
  }

  .mobile-menu-link {
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    color: var(--NAVY-BLUE, #2e2f42);
  }

  .mobile-menu-link.current {
    color: #404bbf;
  }

  .mobile-contacts {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    margin-bottom: 48px;
  }

  .mobile-contacts-tel {
    color: var(--сolor-iris);
    font-size: 24px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
  }

  .mobile-contacts-mail {
    color: #434455;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
  }

  .mobile-contacts-item {
  }
  .mobile-contacts-link {
  }
  .mobile-socials {
    display: flex;
    gap: 56px;
    align-items: center;
  }
  @media only screen and (max-width: 427.98px) {
    .mobile-socials {
      justify-content: space-between;
    }
  }
  @media only screen and (min-width: 428px) {
    .mobile-socials {
      gap: 56px;
    }
  }

  .mobile-social-item {
  }
  .mobile-socials-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
  }
  .mobile-socials-icon {
  }
  .section-business-strategy {
    padding: 96px 0;
  }
  .ul-two-section {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .list-business-strategy {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .paragraf-business-strategy {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
    margin-bottom: 72px;
  }

  .icon-section-two {
    display: none;
  }
  .a-team-icon {
    cursor: pointer;
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .team-card-list {
    background-color: #ffffff;
    border-radius: 0px 0px 4px 4px;
    width: 264px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }

  .key-features {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11em;
    margin-bottom: 8px;
    text-align: center;
  }

  .sec .list-four-section-icon {
    width: 40px;
    height: 40px;
  }

  .section-tree-image {
    display: none;
  }
  .position-name {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .team-header {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--navy-blue);
    margin-bottom: 72px;
  }
  .team-img-section {
    padding: 96px 0;
  }
  .icon-section-four {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
  }
  .ul-person-img {
    flex-direction: column;
    align-items: center;
    gap: 72px;
  }

  .work-cases,
  .header-list-name {
    margin-bottom: 8px;
    text-align: center;
  }

  .position-name {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .company-section {
    padding: 96px 0;
  }

  .company-header {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--navy-blue);
    margin-bottom: 72px;
  }
  .company-ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 72px;
    column-gap: 16px;
  }
  .company-list {
    width: calc((100% - 16px) / 2);
  }
  .a-company-link {
    border: 1px solid #8e8f99;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #8e8f99;

    cursor: pointer;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
    height: 100%;
  }

  .svg-company {
    fill: currentColor;
  }

  .footer {
    background-color: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .div-two-section-footer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .footer-page {
    margin-right: 0;
    margin-bottom: 72px;
    text-align: center;
  }
  .logo-footer {
    display: inline-block;
    margin-bottom: 16px;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    font-weight: 800;
    text-decoration: none;
    color: var(--сolor-iris);
    margin-right: 0;
  }
  .footer-par {
    letter-spacing: 0.02em;
    max-width: 264px;
    color: var(--color-white);
    text-align: left;
  }

  .footer-text-social {
    color: var(--WHITE, #fff);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
  }

  .mobile-socials-link {
    width: 40px;
    height: 40px;
    background-color: var(--сolor-iris);
    border-radius: 50%;
  }
  .ul-social {
    display: inline-flex;
    gap: 16px;
  }
  .a-footer-link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border-radius: 50%;
    background-color: var(--сolor-iris);
    color: var(--cloud);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .a-footer-link:hover,
  .a-footer-link:focus {
    background-color: #31d0aa;
  }
  .social-and-search,
  .footer-social {
    width: 100%;

    margin-right: 0;
    text-align: center;
  }
  .p-social-and-search {
    color: var(--WHITE, #fff);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
  }
  .form-social-and-search {
    display: block;
  }
  .input-sub-footer {
    width: 100%;
    margin-bottom: 16px;
  }
}

/*Slider*/
.main-slider {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/slider-desk@1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--navy-blue);
  padding: 188px 0;
  max-width: 1440px;
  margin: 0 auto;
}

@media only screen and (min-width: 320px) and (min-resolution: 192dpi) {
  .main-slider {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/slider-desk@2x.jpg);
    padding: 112px 0;
  }
}
@media only screen and (min-width: 768px) {
  .main-slider {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/slider-desk@1x.jpg);
  }
}

@media only screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .main-slider {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/slider-desk@2x.jpg);
  }
}
@media only screen and (min-width: 1158px) {
  .main-slider {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/slider-desk@1x.jpg);
  }
}

@media only screen and (min-width: 1158px) and (min-resolution: 192dpi) {
  .main-slider {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/slider-desk@2x.jpg);
  }
}

@media only screen and (min-width: 320px) and (max-width: 427.95px) {
  .mobile-social-item {
  }

  .mobile-socials-link {
    width: 40px;
    height: 40px;
    background-color: var(--сolor-iris);
    border-radius: 50%;
  }

  .mobile-socials {
    display: flex;
    gap: 32px;
  }

  .logo {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    font-weight: 800;
    text-decoration: none;
    color: var(--сolor-iris);
    margin-right: 76px;
  }

  .logo-footer-span {
    color: var(--CLOUD, #f4f4fd);
  }
  .li-top-menu {
    padding: 24px 0px;
  }
}

@media screen and (min-width: 320px) and (max-width: 1158px) {
  .section-header {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 15px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .container {
    width: 768px;
    padding: 0 16px 0 16px;
  }

  .paragraf-business-strategy {
    font-weight: 500;
  }

  .icon-section-two,
  .hamburger-open,
  .menu-container {
    display: none;
  }

  .list-business-strategy {
    width: calc((100% - 24px) / 2);
  }

  .header-container {
    display: flex;
    align-items: center;
    padding: 0 15px;
  }
  .header {
    display: flex;
    margin-right: auto;
    align-items: center;
  }

  .logo {
    margin-right: 120px;
  }
  .menu-ul {
    color: var(--color-navy);
    font-weight: 500;
    list-style: none;
    display: flex;
    gap: 40px;
  }

  .adress-ul {
    gap: 12px;
    flex-direction: column;
  }
  .address-list {
    padding: 0;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.48px;
  }
  .div-slider {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    max-width: 1440px;
    margin: 0 auto;
  }
  .footer-social {
    margin-right: 0;
  }

  .footer-social .slider-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #fff;
    max-width: 496px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 48px;
  }

  .ul-two-section {
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
    justify-content: center;
  }
  .key-features {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
  }
  .list-business-strategy {
    font-size: 20px;
    line-height: 1.2;
    color: #2e2f42;
  }
  .section-business-strategy {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .section-tree-image {
    display: none;
  }
  .team-card-list {
    width: 264px;
  }
  .ul-person-img {
    justify-content: center;
  }
  .company-ul {
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 24px;
    row-gap: 72px;
    padding: 0 108px;
  }

  .company-list {
    width: calc((100% - 48px) / 3);
  }

  .div-two-section-footer {
    flex-wrap: wrap;
    justify-content: start;
    padding-left: 108px;
  }

  .footer-page {
    margin-right: 24px;
    margin-bottom: 72px;
  }
  .menu-ul {
    padding: 24px 0;
  }
  .a-company-link:focus,
  .a-company-link:hover {
    border-color: var(--color-hover);
    color: var(--color-hover);
  }
  .company-section {
    padding-top: 96px;
    padding-bottom: 96px;
  }
}
@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
@media screen and (min-width: 1158px) {
  .list-business-strategy {
    width: calc((100% - 72px) / 4);
  }
  .paragraf-business-strategy {
    font-weight: 400;
  }
  .container {
    width: 1158px;
    margin: 0 auto;
  }
  .team-card-list {
    width: 264px;
  }
}
