:root {
  --color: #434455;
  --color-white: #ffffff;
  --сolor-iris: #4d5ae5;
  --color-navy: #2e2f42;
  --color-hover: #404bbf;
  --color-section: #2e2f42;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--color-white);
  color: var(--color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.slider-title {
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
  color: var(--color-white);
  font-family: Roboto;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
}

img {
  display: block;
}

.menu-link:hover {
  color: var(--color-hover);
}

.menu-link:focus {
  color: var(--color-hover);
}

.menu-nav {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
}

.button-order {
  display: block;
  background-color: var(--сolor-iris);
  color: var(--color-white);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  min-width: 169px;
  height: 56px;
  margin: 0 auto;
  padding: 16px 32px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-order:hover,
.button-order:focus {
  background-color: #404bbf;
  cursor: pointer;
}

.main-slider {
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/mainslider.jpg);
  padding: 188px 0;
}

.logo-text-studio {
  color: var(--color-navy);
}

.logo-footer {
  color: #f4f4fd;
  display: inline-block;
  margin-bottom: 17.5px;
}

nav .list {
  list-style: none;
  justify-content: center;
}

.address-list {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-block;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color);
  padding: 24px 0;
}
.linkfirst {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

a .list {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color);
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
  color: var(--color-navy);
}

.li-top-menu {
  color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.li-top-menu::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.menu-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  position: relative;
  color: #404bbf;
}
.menu-link::after {
  content: "";
  position: absolute;
  left: 0;
  height: 4px;
  bottom: -1px;
  background-color: #404bbf;
  border-radius: 2px;
}

.logo {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  color: var(--сolor-iris);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}

.info-mail-tell {
  font-style: normal;
  margin-left: auto;
}

.address-list:hover,
.address-list:focus {
  color: #404bbf;
}

.adress-link:first-child {
  color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

list:hover,
list:focus {
  color: #404bbf;
}

.header-Business-strategy {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  align-items: flex-start;
  gap: 8px;
}

.list-business-strategy {
  width: 264px;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
}

.key-features {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.paragraf-business-strategy {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.header-section-images {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-img-section {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}

.team-header {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-card-list {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  width: calc((100% - 72px) / 4);
}

.team-card-list:first-child {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-card-list-port {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  width: calc((100% - 48px) / 3);
}
.header-list-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-par {
  font-weight: 400;
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
}

.footer-par {
  width: 264px;
}

.footer-text-social {
  margin-bottom: 16px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: #ffffff;
}

.logo-footer {
  margin-bottom: 16px;
  display: inline-block;
  font-family: "Raleway", sans-serif;
  color: var(--сolor-iris);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-footer-span {
  color: #f4f4fd;
}

.menu-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background-color: #f4f4fd;
  cursor: pointer;
  padding: 12px 24px;
  border-radius: 4px;
  border: 1px solid var(--CORNFLOWER, #e7e9fc);
  background: var(--CLOUD, #f4f4fd);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-button:hover,
.menu-button:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.menu-button:hover,
.menu-button:focus {
  color: #ffffff;
  background-color: #404bbf;
  border: 1px solid transparent;
}

.web-cases {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.web-category {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}

/* ДЗ 3 */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header {
  display: flex;
  align-items: center;
}

.header-container {
  display: flex;
}

.menu-ul {
  gap: 40px;
  display: flex;
  align-items: center;
}

.adress-ul {
  gap: 40px;
  display: flex;
  align-items: center;
}

.nav {
  margin-left: auto;
}

.ul-two-section {
  display: flex;
  flex-wrap: nowrap;
  gap: 24px;
}

.section-business-strategy {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-tree-image {
  padding-top: 72px;
  padding-bottom: 120px;
}

.ul-tree-image {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding-top: 72px;
  padding-bottom: 120px;
}

.ul-person-img {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.work-cases,
.header-list-name {
  margin-bottom: 8px;
  text-align: center;
}

.position-name {
  padding-top: 32px;
  padding-bottom: 32px;
}

.port-menu {
  gap: 24px;
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
}

.port-section {
  padding-top: 96px;
  padding-bottom: 120px;
}

.menu-port-li {
  display: block;
}

.li-tree-section {
  width: calc((100% - 48px) / 3);
}

.cart-cases {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.positicases-div {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

/* ДЗ 4 */

.company-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.company-header {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.company-ul {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.company-pos-div {
  width: 168px;
}

.company-list {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid var(--LIGHT-SLATE, #8e8f99);
  width: calc((100% - 120px) / 6);
  height: 88px;
}

.icon-section-two {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background: var(--CLOUD, #f4f4fd);
  padding: 24px 100px;
  border-radius: 4px;
  margin-bottom: 8px;
}

.icon-section-four {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.list-four-section-icon {
  width: 40px;
  height: 40px;
}

.address-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.a-team-icon {
  cursor: pointer;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.a-team-icon:hover {
  background-color: #404bbf;
}
.a-team-icon:focus {
  background-color: #404bbf;
}

.a-company-link {
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8e8f99;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 168px;
  height: 88px;
}

.a-company-link:focus {
  border-color: #404bbf;
  background-color: #404bbf;
}

.a-company-link:hover {
  color: #404bbf;
}

.svg-team-icon {
  fill: #f4f4fd;
}

.svg-company {
  fill: currentColor;
}

/* ДЗ 4  FOOTER */

.footer-social-svg {
  display: flex;
  fill: #f4f4fd;
}

.footer-page {
  margin-right: 120px;
}

.div-two-section-footer {
  display: flex;
  align-items: baseline;
}

.ul-social {
  display: flex;
  gap: 16px;
}

.li-footer-social {
  width: 40px;
  height: 40px;
}

.a-footer-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.a-footer-link:hover,
.a-footer-link:focus {
  background-color: #31d0aa;
}

/* ДЗ 4  MODAL */

.backdrop-modal {
  position: absolute;
  width: 408px;
  min-height: 584px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 4px;
  background-color: #fcfcfc;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  display: flex;
  flex-direction: column;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop-button {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop-button-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop-button-icon:hover,
.backdrop-button-icon:focus {
  fill: #ffffff;
}

.backdrop-button:hover,
.backdrop-button:focus {
  border: none;
  background-color: #404bbf;
}

/* ДЗ 4  Портфоліо */

.card-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-link:hover,
.card-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transform: translateY(0%);
}

.div-img-card {
  position: relative;
  overflow: hidden;
}
